<section id="page-header">
  <svg viewBox="0 -20 700 110" width="100%" height="110" preserveAspectRatio="none">
   <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#ffffff" />
 </svg>
</section>

<section id="page-content">
  <div class="row">
    <div class="col-full">

      <div class="item-work">
        <div class="row">
          <div class="col-full">
            <h1>RSPO</h1>
            <p class="lead">To obtain RSPO certification oil palm smallholders groups need to conduct of a simplified SEIA (Social and Environmental Impact Assessment). To make it easier, less time consuming and thus cheaper for the smallholder group, this smallholder-friendly SEIA tool has been developed. We also translated the tool into Thai and Indonesian.</p>
            <p class="lead">This tool consists of 2 parts, i.e. a survey to assess the potential social and environmental impact of the smallholder group, and an app to automatically generate the SEIA report and a SEIA management plan.</p>
            <p><a href="https://persch.shinyapps.io/seia/" class="button button-secondary">Try it out</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-six tab-full">
            <h4>Survey</h4>
            <img alt="" src="/images/rspo-0.png">
            <p><em><small>The survey consist of a basic questions the smallholder group manager needs to answer.</small></em></p>
          </div>
          <div class="col-six tab-full">
            <h4>App</h4>
            <img alt="" src="/images/rspo-1.png">
            <p><em><small>The app takes the answers of the survey and automatically generates a report, management plan to facilitate the process of getting certified.</small></em></p>
          </div>
        </div>
      </div>

      <div class="item-work">
        <div class="row">
          <div class="col-full">
            <h1>NFI</h1>
            <p class="lead">A National Forest Inventory (NFI) is a periodically conducted survey on state of the forests in a particular country. The NFI of the People's Republic of Lao was done once in 1996 and during the last years (2015 - 2017) for the second time. Forest Carbon created a digital survey (in a same manner the SEIA survey is designed), and Sebastian was asked to help automate the data analysis and subsequently design a web-app. You can try the app below, but note that the data are NOT the original data, but some made-up values to showcase the capacity of the app.</p>
            <p><a href="https://persch.shinyapps.io/nafoin/" class="button button-secondary">Try it out</a></p>
            <h4>App</h4>
            <!-- <img alt="" src="/images/rspo-1.png"> -->
            <p><em>The app takes the data from the survey and shows the progress of the NFI sampling, computes means and different kinds of errors that are presented as tables, and shows the sampling plots on a map. Note that this is not the full version of the app and that the data are not the originally collected values.</em></p>
          </div>
        </div>
      </div>

      <div class="item-work">
        <div class="row">
          <div class="col-full">
            <h1>Upcoming</h1>
            <p class="lead">We are currently working on some exciting projects, want to find out more or see what we can do for you, please <a href="/contact">contact us</a></p>
        </div>
      </div>

    </div>
  </div>
</section>
